nav{
    margin-top: 3px;
    text-align: center;
    position: sticky;
}

.top_background{
    background-image: url("top_photo.jpg");
    background-size: cover;
    /* margin:6px; */
    /* border-radius: 6%; */
    height: 700px
    /* padding: 300px; */
}
header{
    text-align: center;
    margin: 70px;
}
#about, main, .top_background{
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    /* margin:100px; */
}
.icons{
    display: block;
    position: relative;
    margin: auto;
    text-align: center;
    top: 275px;
}
.fab.fa-linkedin.fa-5x{
    padding: 40px;
}
.fab.fa-github.fa-5x{
    padding: 40px;
}
.fas.fa-angle-double-right{
    padding: 6px;
}
body{
    background-color:rgba(190, 189, 189, 0.651);
}
#middle-pic{
    display:block;
    margin:auto;
    height: 300px;
    width: 536px;
    position: relative;
    /* left:calc(50% - 200px); */
    top: 350px;
    border-radius: 20%;
}
#about{
    display: block;
    position: relative;
    margin: auto;
    width:600px;
    text-align: center;
    top: 325px;  
}
.contact{
    font-family: 'Italianno', cursive;
    font-size: 2em;
    line-height: 1.6;
    font-weight: 400;
    color: #222;
}
.email{
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1 em;
    line-height: 1.6;
    font-weight: 100;
    color: #222;
    margin:5px;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: nowrap; */
    width: auto;
    margin-top: 550px;
    margin-left: 6px;
    margin-right: 6px;
}
#experience{
    /* text-align: center; */
    padding:6px;
    width:50%;
    height: 300px;
    margin: 5px;
    margin-right: 100px;
    /* border: ridge black */
}
#projects{
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
        "project project"
        "project1 project1"
        "pic1 pic1"
        "project2 project2"
        "pic2 pic2";
}
#title{
    grid-area: project;
}
#project1{
    grid-area: project1;
}
#project2{
    grid-area: project2;
}
#python{
    grid-area: pic1;
}
#html{
    grid-area: pic2;
}
    /* display:grid;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    flex-wrap: nowrap;
    padding:6px;
    width: 50%;
    height: 300px;
    margin: 6px; */
    /* border: ridge black; */

 #python, #html{
    
    /* margin:5px;
    padding:6px; */
    height: 116px;
    width: 136px;
    /* position: relative;
    /* right:calc(25%-100px); */
    
    border-radius: 20%;
} 
.flex-nav{
    display:flex;
    color: black;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 100px;
    padding: 10px;
}